/* CSS declarations go here */
.select-position {
  float: right;
  margin: 0 10px;
  height: 25px;
  width: 100px;
  font-size: 20px;
  display: inline-block;
}

.select-position select {
  width: 100px;
}

.btn {
  float: right;
}
